<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>

<div class="row">
	<div style="margin: 10px;">
		<%= link_to 'New post', new_authors_post_path, class: 'btn btn-primary btn-lg' %>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th colspan="5">Date</th>
		</tr>
		<%= render @posts %>
	</table>
</div>