.navbar {
    border-radius: 0;
    margin-bottom: 35px;
    background-color: $navbar-color;
    .navbar-brand {
        font-weight: bolder;
        font-family: 'Lobster', cursive;
        color: $accent-color;
        .light {
            font-weight: 300;
            color: $primary-color-text;
        }
    }
    .navbar-toggler {
        outline: none;
    }
    .nav-link {
      color: $primary-color-light !important;
      &.active {
        color: $primary-color-text !important;
      }
    }
    .nav-item.author-nav {
      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid $primary-color-light;
      }
    }
}
